@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin link-style {
  display: inline-block;
  position: relative;
  color: $secondary-color;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $secondary-color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover {
    color: $secondary-color;
    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

// Use mixins effectively
.some-component {
  @include flex-center;
  // additional styles
}
